{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur mon Portfolio{% endblock %}

{% block body %}
    <nav class="navbar">
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="#partie1">Présentation</a></li>
            <li><a href="#partie2">Expérience</a></li>
            <li><a href="#competence">Compétences</a></li>
            <li><a href="#projet">Projet 1 et 2</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>

    <video autoplay muted loop id="background-video">
        <source src="https://cdn.pixabay.com/video/2023/11/07/188288-882243044_large.mp4" type="video/mp4">
        Votre navigateur ne supporte pas la vidéo HTML5.
    </video>

    <div class = "accueil">
        <h1 id="nom">Bonhomme Amélie</h1>
        <h2>Développeuse polyvalente</h2>
        <a href="#partie1" class="bas-btn"></a>

    <div id="partie1"></div>
    </div>
    
    <div class="container">
        <header>
            <h1>Motivation et présentation </h1>
            <p id ="motivation">Jeune développeuse junior de 19 ans, je désire avant tout me nourrir de l’expérience des autres et acquérir de nouvelles compétences. J’ai choisi l’alternance pour allier la prédominance théorique des cours à la concrétisation pratique du travail en entreprise. Mon objectif à terme est de découvrir un maximum de technologie dans le but de trouver celle qui me parle le mieux.</p>
            <p id ="motivation">Acutellement sur ma deuxième année de BTS SIO (Service Informatique au Organision) option SLAM et en alternance avec l'entreprise Daher depuis maintenant 1 ans.</p>
        </header>
        <section class="contact">
            <h2>Centre d'intérêt personnel :</h2>
            <h2>Me contacter</h2>
            <p>Email : <a href="mailto:amelie@example.com">amelie@example.com</a></p>
        </section>
    </div>
    <section id="entreprise">
            <div id="partie2"></div>
            <h1>Expérience :</h1>
            <div class = "entreprise1">
                <img class = "logo1"src = "https://specialmissionaircraft.daher.com/wp-content/uploads/2021/07/Daher-white-bg-1024x270.png">
                <ul>
                    <li>Réalisation de diverse API et automatisation sur l'environement microsoft (PowerApps, PowerAutomate, Script Office, Excel, Power Point avec VBA)</li>
                    <li>Réalisation de diverse API sur l'environement google (google sheet, AppScript, AppSheet, glide)</li>
                    <li>...</li>
                    
                </ul>
            </div>
            
            <div class = "entreprise2">
                <ul>
                    <li>Réalisation de diverse API et automatisation sur l'environement microsoft (PowerApps, PowerAutomate, Script Office, Excel, Power Point avec VBA)</li>
                    <li>Réalisation de diverse API sur l'environement google (google sheet, AppScript, AppSheet, glide)</li>
                    <li>...</li>
                    
                </ul>
                <img class = "logo2"src = "https://beproject.fr/wp-content/uploads/thegem/logos/logo_d8de66a5adf7eae8cc0118763ae1075e_1x.png">
            </div>

            <div class = "entreprise1">
                <img class = "logo1"src = "https://www.sireagroup.com/wp-content/uploads/2021/12/logo-groupe-syselec.png">
                <ul>
                    <li>Réalisation de diverse API et automatisation sur l'environement microsoft (PowerApps, PowerAutomate, Script Office, Excel, Power Point avec VBA)</li>
                    <li>Réalisation de diverse API sur l'environement google (google sheet, AppScript, AppSheet, glide)</li>
                    <li>...</li>
                    
                </ul>
            </div>
            
        </section>
{% endblock %}
