body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
/*centre du site*/
.container {
    max-width: 80%;
    margin: 10% auto;
    padding: 1%;
    background: rgba(255, 255, 255, 0.87);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/*section {
    margin-top: 30px;
}*/
.navbar {
    position: fixed;
    max-width: 60%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #c8ad7fbe;
    padding: 1% 0;
    text-align: center;
    border-radius: 30px;
    margin-left: 20%;
    margin-top: 1%;
    /*z-index: 1000;*/
}

.navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 4%; /*espace entre les ul (mot)*/
}

.navbar li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}
/*Trait sous les mots de la nav bare*/
.navbar li a:hover {
    text-decoration: underline;
}

.accueil {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}
#background-video {
    position:absolute;
    top: 0;
    left: 0;
    /*min-width: 100%;
    min-height: 100%;
    object-fit: cover;*/
    z-index: -1;
}

/* Pour que le contenu ne soit pas caché derrière la vidéo */
/*body {
    position: relative;
    z-index: 1;
    padding-top: 60px;
}*/



/*
------------------------------------------------------------------
CSS pour téléphone ( à travailler)
-----------------------------------------------------------------
*/

@media screen and (max-width: 600px) {
    .navbar {
        max-width: 90%;
        margin-left: 5%;
        padding: 2% 0;
    }

    .navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .navbar li {
        flex: 1 1 40%; /* chaque lien prend 40% de la largeur, donc 2 par ligne */
        text-align: center;
    }

    .navbar li a {
        font-size: 18px; /* agrandit le texte si besoin */
        display: block;
        padding: 10px 0;
    }
}

